.info-background{
    background-color: #FEEAE9!important;
}
.bg-categoris1{
    background: linear-gradient( #FF9C35 , #FFD019);
}
.bg-categoris2{
    background: linear-gradient( #FF589B ,  #FF136F );
}
.bg-categoris3{
    background: linear-gradient( #4289FF , #3F07F8);

}
.categories img{
    width: 100px;
}
.panda-btn-buy-now{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
}